@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../../assets/Rubik/Rubik-Italic-VariableFont_wght.ttf")
    format("ttf");
}

.form {
  display: flex;
}
.authorizationForm {
  box-shadow: 3px 12px 24px 0px #8189c533;
  padding: 50px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 131px;

  .AuthText {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
  }
  .AuthTextData {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5px;
  }
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 380px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    gap: 10px;
    margin-bottom: 10px;
  }
  .loginButton {
    width: 380px;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    gap: 10px;
    text-align: center;
    background: #5e66a7;
    color: #f7f7f8;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    border: 1px solid #fefeff;
    margin-top: 30px;
  }
  .loginButton:hover {
    background: #f8f2f2;
    color: #5e66a7;
    border: 1px solid #5e66a7;
  }
  .forgotPasswordLink {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #a1a1a1;
    margin-right: 4px;
  }
  .registerLink {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: right;
    color: #5e66a7;
    text-decoration: none;
  }
  .additionalLinks {
    margin-top: 10px;
  }
  .spanError{
    color: red;
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .authorizationForm {
    padding: 10px;
    box-shadow: none;
  }
}
